html {
  font-size: 62.5%; }
  html body {
    background-color: #f0f3f5;
    color: #000; }

    /*---------навигация--------*/

.list_inline {
  margin: 0;
}
#drop_down {
  margin: 0;
}
.info {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 10px;
  list-style-type: none;
  transition: .3s all;
}
.info:hover {
  text-decoration: none;
  background-color: #357ebd;
  color: #fff;
}

  /*-------Бургер меню---------*/

.nav-trigger {
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: 2;
  color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: url("../img/burger-button.png");
  background-size: contain;
}

/*-----Хедер--------*/

#header {
  height: 80px;
  background-color: #357ebd;
}
.logo {
  text-transform: uppercase;
  color: #fefefe;
}
.sign {
  margin-top: 30px;
  height: 30px;
  width: 120px;;
}
.sign_in {
  text-align: center;
  text-transform: uppercase;
  color: #fefefe;
  font-size: 14px;
}
.sign_in:hover {
  color: #fefefe;
}
.weather, .valute {
  margin: 10px 0 0 10px;
  padding: 20px 0;
  height: 60px;
  text-align: center;
  border: .1rem solid #fff;
}
.search {
  width: 150px;
  position: relative;
  margin: 25px 0 0 0;
}
.search input {
  border: none;
}
.search .find {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
.search .find:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}
.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}
.search .submit:hover {
  opacity: 0.8;
}

     /*----------Слайдер, Видио, Курс Валют-----------*/

#top_New_Slider {
  height: 450px;
}
.important_News {
  font-size: 24px;
  margin: 15px 0 15px 0;
}
.slider {
  height: 350px;
  padding: 0;
  margin: 0;
}
.video {
  padding: 0;
  margin: 0 0 0 60px;
  height: 350px;
}

    /*---------Мейн-------------*/

.main_paragraf {
  font-size: 18px;
}

   /*--------Футер---------*/

#footer {
  height: 150px;
  margin: 50px 0 0 0;
  padding: 40px;
  background-color: #666666;
}
.end {
  font-size: 12px;
  color: #fefefe;
}
