html {
  font-size: 62.5%; }
  html body {
    background-color: #f0f3f5;
    color: #000; }

    /*---------навигация--------*/

.list_inline {
  margin: 0;
}
#drop_down {
  margin: 0;
}
.info {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 10px;
  list-style-type: none;
  transition: .3s all;
}
.info:hover {
  text-decoration: none;
  background-color: #357ebd;
  color: #fff;
}

  /*-------Бургер меню---------*/

.nav-trigger {
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: 2;
  color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: url("../img/burger-button.png");
  background-size: contain;
}

/*-----Хедер--------*/

#header {
  height: 80px;
  background-color: #357ebd;
}
.logo {
  text-transform: uppercase;
  color: #fefefe;
}
.sign {
  margin-top: 30px;
  height: 30px;
  width: 120px;;
}
.sign_in {
  text-align: center;
  text-transform: uppercase;
  color: #fefefe;
  font-size: 14px;
}
.sign_in:hover {
  color: #fefefe;
}
#modal_sign {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#sign_form {
  position: relative;
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  background: #eee;
  border-radius: 10px;
  padding: 25px 15px;
}
#sign_form h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
#close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px;
}
.form-grup{
 margin-bottom: 15px;
}
.form-grup label{
 padding-top: 4px;
}
.form-grup label:after{
 content: "*";
 color: red;
}
.form-grup input[type="submit"]{
 padding: 4px;
 border-radius: 5px;
 outline: none;
}
.weather, .valute {
  margin: 10px 0 0 10px;
  padding: 20px 0;
  height: 60px;
  text-align: center;
  border: .1rem solid #fff;
}
.search {
  width: 150px;
  position: relative;
  margin: 25px 0 0 0;
}
.search input {
  border: none;
}
.search .find {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
.search .find:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}
.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}
.search .submit:hover {
  opacity: 0.8;
}

     /*----------Слайдер, Видио, Курс Валют-----------*/

#top_New_Slider {
  height: 450px;
}
.important_News {
  font-size: 24px;
  margin: 15px 0 15px 0;
}
.slider {
  height: 350px;
  padding: 0;
  margin: 0;
}
.control-panel {
  position: absolute;
  height: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.control-panel span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #fefefe;
  border-radius: 50%;
  cursor: pointer;
}
#activeBtn {
  background-color: #000;
}
.control-panel span:hover {
  background-color: #357ebd;
}
.video {
  padding: 0;
  margin: 0 0 0 60px;
  height: 350px;
}

    /*---------Мейн-------------*/

.main_paragraf {
  font-size: 18px;
}

   /*--------Футер---------*/

#footer {
  height: 150px;
  margin: 50px 0 0 0;
  padding: 40px;
  background-color: #666666;
  box-shadow:
  inset 0 0 100px hsla(0,0%,0%,.2),
  inset 0px 1px 5px #999,
  inset 0px 2px 0px #888,
  inset 0px 3px 0px #777,
  inset 0px 4px 0px #666,
  inset 0px 5px 0px #555,
  inset 0px 6px 0px #444,
  inset 0px 7px 0px #333,
  inset 0px 8px 7px #001135;
}
.end {
  font-size: 12px;
  color: #fefefe;
}
